.footer {
    border-top: 1px solid #abb2bf;
    padding: 32px 0;
}
.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 48px;
}
.footer__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.footer__logo {
    display: flex;
    column-gap: 24px;
}
.footer__name {
    display: flex;
    align-items: center;
    column-gap: 9px;
}
.footer__logo strong {
    display: flex;
    column-gap: 24px;
    align-items: center;
}
.footer__email {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #abb2bf;
}
.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.footer__media {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.footer__media-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}
.footer__socials {
    display: flex;
    align-items: center;
    column-gap: 14px;
}
.footer__socials-link:hover {
    transform: scale(1.1);
}
.footer__bottom {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #abb2bf;
}
