.header {
    padding-top: 62px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__title {
    max-width: 537px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;

    padding-bottom: 32px;
}
.header__text {
    max-width: 463px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #abb2bf;

    padding-bottom: 32px;
}
.header__btn {
    border: 1px solid #c778dd;
    padding: 8px 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
.header__btn:hover {
    background-color: #c778dd;
    transition: 0.2s all ease;
}
.header__img {
    display: flex;
    flex-direction: column;
}
.header__img-subtitle {
    display: flex;
    column-gap: 10px;
    padding: 8px 0;
    background: #282c33;
    border: 1px solid #abb2bf;
}
.header__cube {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    padding: 10px;
    background: #c778dd;
    border: 1px solid #c778dd;
}
.line {
    /* position: absolute;
    left: 0; */
    top: 100px;
    width: 191px;
    height: 1px;
    background: #abb2bf;
    transform: rotate(90deg);
}
.socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 80px;
}
.header__socials {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100px;
}
.socials__link:hover {
    transform: scale(1.1);
}
